.Mega {
  margin-top: 10px;
  clear: both;
}

.Mega label {
  margin-right: 10px;
}

.Mega input {
  font-size: 1.4rem;
  width: 50px;
  margin-bottom: 10px;
}

.Valor div {
  width: 40px;
  height: 40px;
  background-color: darkred;
  color: #fff;
  font-weight: bold;
  float: left;
  box-sizing: border-box;
  padding-top: 10px;
  margin-right: 4px;
  border-radius: 20px;
  font-size: 1.2rem;
}

.Valores {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
